:root {
  --primary-color-rgb: 19, 0, 42;
  --primary-light-rgb: 167, 137, 205;
  --secondary-color-rgb: 19, 72, 134;
  --main-font: "Poppins", sans-serif;
}

body {
  font-family: var(--main-font);
}

header {
  background: repeating-linear-gradient(
      rgba(255, 255, 255, 0.5) -1%,
      rgba(var(--primary-light-rgb), 0.1)
    ),
    linear-gradient(
      135deg,
      rgba(var(--primary-light-rgb), 0.8) 10%,
      rgba(255, 255, 255, 0.9) 42%,
      rgba(255, 255, 255, 0.1) 43%,
      rgba(var(--secondary-color-rgb), 0.7) 60%,
      rgba(var(--primary-light-rgb), 0.7) 67%,
      rgba(255, 255, 255, 0.1) 88%,
      rgba(var(--primary-color-rgb), 0.8)
    ),
    linear-gradient(
      12deg,
      rgba(var(--primary-light-rgb), 0.8) 3%,
      rgba(255, 255, 255, 0.9) 26%,
      rgba(255, 255, 255, 0.1) 27%,
      rgba(var(--secondary-color-rgb), 0.7) 42%,
      rgba(var(--primary-light-rgb), 0.7) 46%,
      rgba(255, 255, 255, 0.1) 75%,
      rgba(var(--primary-color-rgb), 0.8)
    );
}
h1 {
  font-family: var(--fancy-font);
  font-size: 80px;
  color: rgb(var(--primary-color-rgb));
  margin-bottom: 50px;
}

.fancy-font {
  font-family: "Inspiration", cursive;
}

@media (max-width: 768px) {
  body {
    font-size: 18px;
  }
  h1 {
    font-size: 60px;
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  body {
    font-size: 16px;
    text-align: center;
  }

  h1 {
    font-size: 50px;
  }
}
