h2 {
  margin: 0;
  padding: 30px 0;
  font-size: 100px;
  text-align: center;
  color: rgba(var(--secondary-color-rgb));
}

p {
  margin-bottom: 0;
}

strong {
  font-size: larger;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  box-shadow: 3px 2px 10px rgb(var(--primary-light-rgb));
}

ul {
  font-size: smaller;
  list-style: none;
  padding: 0;
  margin: 10px 0 18px;
}

@media (max-width: 768px) {
  h2 {
    font-size: 80px;
    padding: 30px 0 20px;
  }

  img {
    margin-bottom: 30px;
  }
}

@media (max-width: 576px) {
  .row {
    padding: 0 18px;
  }
}
